---
title: My Iron Yard Odyssey - HTML/CSS
---

<!-- Add your site or application content here -->

<div id="container">

	<%= partial "/layouts/partials/header" %>

	<div id="content-container1">
		<div id="content-container2">
			<div id="section-navigation">

				<br>

				<ul>
					<b>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					</b>
				</ul>
			</div>

			<div id="content">
				<h2>
					HTML/CSS
				</h2>
			
			<hr>	

			<h3>
				HTML Sites
			</h3>
			
			<p>
				<%= link_to "A Guide to HTML for the Perplexed", 'https://developer.mozilla.org/en-US/docs/Web/Guide/HTML' %>
			</p>

			<p>
				<%= link_to "htmldog.com", 'htmldog.com' %>
			</p>

			<p>
				<%= link_to "HTML5 Boilerplate", 'https://github.com/h5bp/html5-boilerplate/blob/v4.3.0/doc/TOC.md' %>
			</p>

			<hr>

			<h3>
				CSS Sites
			</h3>			

			<p>
				<%= link_to "A Guide to CSS for the Perplexed", 'https://developer.mozilla.org/en-US/docs/Web/Guide/CSS' %>
			</p>

			<p>
				<%= link_to "learnlayout.com", 'learnlayout.com' %>
			</p>

		
			<p>
				<%= link_to "A Showcase of What CSS Can Do", 'http://www.csszengarden.com/' %>
			<p>
				
			</div>

			<%= partial "/layouts/partials/footer" %>
		</div>
	</div>	
</div>