---
title: My Iron Yard Odyssey - Other Useful Info
---

<!-- Add your site or application content here -->

<div id="container">

	<%= partial "/layouts/partials/header" %>

	<div id="content-container1">
		<div id="content-container2">
			<div id="section-navigation">

				<br>

				<ul>
					<b>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					</b>
				</ul>
			</div>

			<div id="content">
				<h2>
					Other Useful Information
				</h2>
			
			<hr>	

			<p>
				<%= link_to 'The Official Ruby on Rails Guides', 'http://guides.rubyonrails.org/index.html' %>
			</p>

			<p>
				<%= link_to 'ASCII Casts', 'http://asciicasts.com/' %>
			</p>

			<p>
				<%= link_to "Zed Shaw's \"Learn Ruby the Hard Way\"", 'http://learnrubythehardway.org/book/' %>
			</p>

			<p>
				<%= link_to 'Book recommendations', 'http://www.justinweiss.com/blog/2014/09/22/can-you-learn-rails-before-learning-ruby/' %>
			</p>

			<p>
				<%= link_to 'Practicing Ruby', 'https://practicingruby.com/articles/growing-a-stable-codebase' %>
			</p>

			<p>
				<%= link_to 'The Myth of the Full Stack Developer', 'http://andyshora.com/full-stack-developers.html' %>
			</p>

			<p>
				<%= link_to 'Middleman', 'https://middlemanapp.com/' %>
			</p>			

				
			</div>

			<%= partial "/layouts/partials/footer" %>
		</div>
	</div>	
</div>